:root {
  --ifm-color-primary: #245a91;
  --ifm-color-primary-dark: #205182;
  --ifm-color-primary-darker: #1e4c7a;
  --ifm-color-primary-darkest: #193f65;
  --ifm-color-primary-light: #2863a0;
  --ifm-color-primary-lighter: #2a68a8;
  --ifm-color-primary-lightest: #327bc6;
}

[data-theme='dark'] {
  --ifm-color-primary: #76b7f2;
  --ifm-color-primary-dark: #57a7ef;
  --ifm-color-primary-darker: #47a0ed;
  --ifm-color-primary-darkest: #2388e3;
  --ifm-color-primary-light: #95c7f5;
  --ifm-color-primary-lighter: #a5cff7;
  --ifm-color-primary-lightest: #d3e8fb;
}
